<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link th:href="@{/css/estilos.css}" rel="stylesheet">
        <link rel="stylesheet" href="../../static/css/estilos.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>Index</title>
</head>
<body class="indexmain">
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark" th:replace="~{fragmentos/menu::menu}" >
        </nav>
    </header>
    <main>
        <div class=" row ">
            <div class="col">
            </div>
            <div class="col-7 formulario my-5 py-5 px-4">
                <form class="was-validated px-5" method="POST" th:action="registroOk" th:object="${encuentroForm}">
                    <div class="row">
                        <div class="col-8">
                            <div>
                                <label for="nombre">Especie:</label>
                                <input type="text" class="form-control is-valid" id="nombre" placeholder="Nombre de la especie"
                                    required >
                                <div class="invalid-feedback">Escribe el nombre de la especie</div>
                            </div>
                            <div>
                                <label for="descripcion" class="form-label">Descripcion</label>
                                <textarea class="form-control" id="descripcion" rows="3"
                                    placeholder="Describe tu encuentro con el bicho." th:field="*{descripcion}"></textarea>
                            </div>
                            <div>
                                <label for="zona">Zona</label>
                                <input type="text" class="form-control is-valid" id="zona" placeholder="zona" required th:field="*{zona}">
                                <div class="invalid-feedback">Seleccione la zona.</div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div>
                                <div>
                                    <label for="sexo">Sexo</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="sexo" id="macho">
                                        <label for="macho">
                                            Macho
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="sexo" id="hembra">
                                        <label for="hembra">
                                            Hembra
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <label for="tamaño">Tamaño(cm)</label>
                                <input type="number" name="tamaño" id="tamaño" step="1" size="2">
                            </div>
                            <div>
                                <label for="Peso">Peso(g)</label>
                                <input type="number" name="Peso" id="Peso" step="1" size="2">
                            </div>
                            <div>
                                <label for="encuentro">Encuentro</label>
                                <input id="encuentro" class="form-control" type="date" required />
                                <div class="invalid-feedback">
                                    Selecciona la fecha
                                </div>
                            </div>
                        </div>
                    </div>                   
                    <div class="custom-file my-5 d-flex justify-content-center">
                        <div>
                            <input type="text" class="form-control is-valid" id="foto" placeholder="Url de la foto"
                            required th:field="*{foto}">
                            <div class="invalid-feedback">Sube la foto del bicho.</div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-2">
                        <button class="btn btn-primary enviar" type="submit ">Enviar</button>
                    </div>
                </form>
            </div>
            <div class="col">
            </div>
        </div>
    </main>
    <footer th:replace="~{fragmentos/footer::footer}">
    </footer>
</body>

</html>