
.indexmain{
    background-image: url("img/indexLandscape.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.encuentro{
    height: 60vh;
    background-image: url("/img/bichoEncuentro.jpg");
    background-position: center;

}
.encuentro>div{
    display: flex;
    flex-direction: column;
    justify-content: end;
    
}