<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/loginRegister.css">
    <link rel="stylesheet" href="../static/css/loginRegister.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <title>Usuarios</title>
</head>

<body>
    <header>
        <nav th:replace="~{fragmentos/menu::menu}" >
        </nav>
    </header>
    <main class="text-light">
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>nombre</th>
                    <th>apellidos</th>
                    <th>correo</th>
                    <th>username</th>
                    <th>password</th>
                    <th>fechaNac</th>
                    <th>admin</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="usuario:${userList}">
                    <td th:text="${usuario.id}">Id</td>
                    <td th:text="${usuario.nombre}">Nombre</td>
                    <td th:text="${usuario.apellidos}">apellidos</td>
                    <td th:text="${usuario.correo}">correo</td>
                    <td th:text="${usuario.username}">username</td>
                    <td th:text="${usuario.passwd}">password</td>
                    <td th:text="${usuario.fechaNac}">fechaNac</td>
                    <td th:text="${usuario.administrator}">admin</td>
                    <td>
                        <a href="#" th:href="@{/editarUsuario/{id}(id=${usuario.id})}">Editar</a> | 
                        <a href="#" th:href="@{/borrar/{id}(id=${usuario.id})}">Borrar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
</body>

</html>