<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link th:href="@{/css/estilos.css}" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/estilos.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <title>Especies</title>
</head>

<body class="indexmain">
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark" th:replace="~{fragmentos/menu::menu}">
        </nav>
    </header>
    <main>
        <script>
            AOS.init();
        </script>
        <div>
            <div class="row justify-content-center">
                <div class="col-2 pt-5 d-flex flex-column justify-content-center d-none d-md-block ">
                    <div class="taxonomias m-3 p-3">
                        <h3 class="text-center mb-3">Buscar por</h3>
                        <div>
                            <div>
                                <span class="row text-center p-2 text-light my-1 d-flex">
                                    <a class="col text-center float-start">Nombre</a>
                                    <a class="col-1 mx-1 float-end"
                                        th:href="@{/especies/orderBy/{orderBy}(orderBy='nombreAsc')}">
                                        <i class="bi bi-arrow-up"></i>
                                    </a>
                                    <a class="col-1 mx-1 float-end"
                                        th:href="@{/especies/orderBy/{orderBy}(orderBy='nombreDesc')}">
                                        <i class="bi bi-arrow-down"></i>
                                    </a>
                                </span>
                            </div>
                            <div>
                                <span class="row text-center col p-2 text-light my-1 d-flex">
                                    <a class="col text-center float-start">N.Científico</a>
                                    <a class="col-1 mx-1 float-end"
                                        th:href="@{/especies/orderBy/{orderBy}(orderBy='cientificoAsc')}">
                                        <i class="bi bi-arrow-up"></i>
                                    </a>
                                    <a class="col-1 mx-1 float-end"
                                        th:href="@{/especies/orderBy/{orderBy}(orderBy='cientificoDesc')}">
                                        <i class="bi bi-arrow-down"></i>
                                    </a>
                                </span>
                            </div>
                            <div>
                                <span class="row text-center col p-2 text-light my-1 d-flex">
                                    <a class="col text-center ">Generos</a>
                                    <a class="col-1 mx-1 float-end"
                                        th:href="@{/especies/orderBy/{orderBy}(orderBy='generoAsc')}"><i
                                            class="bi bi-arrow-up"></i>
                                    </a>
                                    <a class="col-1 mx-1 float-end"
                                        th:href="@{/especies/orderBy/{orderBy}(orderBy='generoDesc')}"><i
                                            class="bi bi-arrow-down"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col ">
                    <h1 class="text-center text-light">Especies</h1>
                    <form action="3" th:action="@{/especies/search}" th:object="${searchForm}" method="POST">
                        <div class="d-flex my-3">
                            <input type="text" class="form-control" name="search" id="nombre"
                                placeholder="Nombre de la especie" required>
                            <button class="btn btn-light">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </form>
                    <div class="row d-flex justify-content-center text-light">
                        <div class="registroBox col-5 col-md-5 col-lg-3 col-xl-2 m-1" data-aos="flip-down"
                            data-aos-duration="1000" th:each="especie : ${especieList}">
                            <a class="h-100 w-100" th:href="@{/especies/details/{id}(id=${especie.id})}">
                                <img class="background-image" th:src="${especie.foto}"
                                    src="../../static/img/fotoEspecie.png" alt="foto de la especie" />
                                <div class="text">
                                    <h3 th:text="${especie.descripcion}" class="text-center">Description</h3>
                                    <p th:text="${especie.nombre}" class="text-center hidden">Gypaetus barbatus </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-2 pt-5 d-flex flex-column justify-content-center d-none d-md-block ">
                    <div class="taxonomias m-3 p-3" th:fragment="menu-lateral">
                        <h3 class="text-center mb-3">Busca tu especie</h3>
                        <div>
                            <div><a class="text-center p-2 text-light my-1" th:href="@{/reinos/}"
                                    href="/reinos">Reinos</a></div>
                            <div><a class="text-center p-2 text-light my-1" th:href="@{/filos/}" href="/filos">Filos</a>
                            </div>
                            <div><a class="text-center p-2 text-light my-1" th:href="@{/clases/}"
                                    href="/clases">Clases</a></div>
                            <div><a class="text-center p-2 text-light my-1" th:href="@{/ordenes/}"
                                    href="/ordenes">Ordenes</a></div>
                            <div><a class="text-center p-2 text-light my-1" th:href="@{/familias/}"
                                    href="/familias">Familias</a></div>
                            <div><a class="text-center p-2 text-light my-1" th:href="@{/generos/}"
                                    href="/generos">Generos</a></div>
                            <div><a class="text-center p-2 text-light my-1" th:href="@{/especies/}"
                                    href="/especies">Especies</a></div>
                        </div>
                    </div>
                    <div class="taxonomias m-3 p-3">
                        <h3 class="text-center mb-3">No está?!</h3>
                        <button>
                            <a class="py-1 px-3 botonLink text-center" th:href="@{/especies/newEspecie}"
                                href="/newEspecie">
                                <span class="botonTexto">Nueva Especie</span>
                                <i class="ms-2 bi bi-plus-circle botonIcono"></i>
                            </a>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </main>
    <footer th:replace="~{fragmentos/footer::footer}">
    </footer>
</body>

</html>