<!DOCTYPE html >
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link th:href="@{/css/style.css}" rel="stylesheet">
        <link rel="stylesheet" href="../../static/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>Index</title>
</head>

<body class="indexmain">
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark" th:replace="~{fragmentos/menu::menu}" >
        </nav>
    </header>
    <main>
        <div>
            <div class="row">
                <div class="col-2 pt-5 d-flex flex-column justify-content-center d-none d-md-block">
                    <button class="botonTax my-2">
                        <a class="py-1 px-3 botonLink" th:href="@{/newOrden}" href="/newOrden">
                            <span class="botonTexto">Nueva Orden</span>
                            <i class="bi bi-plus-circle botonIcono"></i>
                        </a>
                    </button>
                </div>
                <div class="col ">
                    <form action="">
                        <div class="d-flex my-3">
                            <input type="text" class="form-control " id="orden" placeholder="Nombre de la orden"
                            required>
                            <button class="btn btn-light">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </form>
                    <div class=" row d-flex justify-content-center text-light">
                        <div class="registroBox col-5 col-md-5 col-lg-3 col-xl-2 m-1" th:each="orden : ${ordenList}">
                            <img class="background-image" 
                            th:if="${orden.familias != null and orden.familias.size() > 0 and orden.familias[0].generos != null and orden.familias[0].generos.size() > 0 and orden.familias[0].generos[0].especies != null and orden.familias[0].generos[0].especies.size() > 0}" 
                            th:src="${orden.familias[0].generos[0].especies[0].foto}" />
                            <div class="text">
                                <h3 th:text="${orden.nombre}">Gypaetus barbatus</h3>
                                <p th:text="${orden.descripcion}">Description</p>
                            </div>
                        </div>
                    </div>                  
                </div>
                <div class="col-2 pt-5 d-flex flex-column justify-content-center d-none d-md-block">
                    <button class="botonTax my-2">
                        <a class="py-1 px-3 botonLink" th:href="@{/clases}" href="/clases">
                            <i class="bi bi-arrow-up botonIcono"></i>
                            <span class="botonTexto">Clases</span>
                        </a>
                    </button>
                    <button class="botonTax my-2">
                        <a class="py-1 px-3 botonLink" th:href="@{/familias}" href="/familias">
                            <i class="bi bi-arrow-down botonIcono"></i>
                            <span class="botonTexto">Familias</span>
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="~{fragmentos/footer::footer}">
    </footer>
</body>

</html>