<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link th:href="@{/css/estilos.css}" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/estilos.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>Index</title>
</head>

<body class="indexmain">
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark" th:replace="~{fragmentos/menu::menu}">
        </nav>
    </header>
    <main>
        <div>
            <div class="row">
                <div class="col-2 pt-5 d-flex flex-column justify-content-center d-none d-md-block ">
                    <div class="taxonomias m-3 p-3">
                        <h3 class="text-center mb-3">Buscar por</h3>
                        <div>
                            <div>
                                <span class="row text-center p-2 text-light my-1">
                                    <a class="col-10 text-center">Nombre</a>
                                    <a class="col-1 mx-1"th:href="@{/ordenes/orderBy/{orderBy}(orderBy='nombreAsc')}">
                                        <i class="bi bi-arrow-up"></i>
                                    </a>
                                    <a class="col-1 mx-1" th:href="@{/ordenes/orderBy/{orderBy}(orderBy='nombreDesc')}">
                                        <i class="bi bi-arrow-down"></i>
                                    </a>
                                </span>
                            </div>
                            <div>
                                <span class="row text-center col p-2 text-light my-1">
                                    <a class="col-10 text-center">N.Científico</a>
                                    <a class="col-1 mx-1" th:href="@{/ordenes/orderBy/{orderBy}(orderBy='cientificoAsc')}">
                                        <i class="bi bi-arrow-up"></i>
                                    </a>
                                    <a class="col-1 mx-1" th:href="@{/ordenes/orderBy/{orderBy}(orderBy='cientificoDesc')}">
                                        <i class="bi bi-arrow-down"></i>
                                    </a>
                                </span>
                            </div>
                            <div>
                                <span class="row text-center col p-2 text-light my-1">
                                    <a class="col-10 text-center">Clases</a>
                                    <a class="col-1 mx-1" th:href="@{/ordenes/orderBy/{orderBy}(orderBy='claseAsc')}"><i class="bi bi-arrow-up"></i>
                                    </a>
                                    <a class="col-1 mx-1" th:href="@{/ordenes/orderBy/{orderBy}(orderBy='claseDesc')}"><i class="bi bi-arrow-down"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col ">
                    <h1 class="text-center text-light">Ordenes</h1>
                    <form action="3" th:action="@{/ordenes/search}" th:object="${searchForm}" method="POST">
                        <div class="d-flex my-3">
                            <input type="text" class="form-control" name="search" id="nombre"
                                placeholder="Nombre de la orden" required>
                            <button class="btn btn-light">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </form>
                    <div class=" row d-flex justify-content-center text-light">
                        <div class="registroBox col-5 col-md-5 col-lg-3 col-xl-2 m-1" th:each="orden : ${ordenList}">
                            <a class="h-100 w-100" th:href="@{/familias/?(ordenId=${orden.id})}">

                                <img class="background-image"
                                    th:if="${orden.familias != null and orden.familias.size() > 0 and orden.familias[0].generos != null and orden.familias[0].generos.size() > 0 and orden.familias[0].generos[0].especies != null and orden.familias[0].generos[0].especies.size() > 0}"
                                    th:src="${orden.familias[0].generos[0].especies[0].foto}" />
                                <div class="text">
                                    <h3 th:text="${orden.nombre}">Gypaetus barbatus</h3>
                                    <p th:text="${orden.descripcion}">Description</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-2 pt-5 d-flex flex-column justify-content-center d-none d-md-block"  >
                    <div th:replace="~{especie/especies::menu-lateral}"></div>
                    <div class="taxonomias m-3 p-3">
                        <h3 class="text-center mb-3">No está?!</h3>
                        <button>
                                <a class="py-1 px-3 botonLink text-center" th:href="@{/ordenes/newOrden}" href="/newOrden">
                                    <span class="botonTexto">Nueva Orden</span>
                                    <i class="ms-2 bi bi-plus-circle botonIcono"></i>
                                </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="~{fragmentos/footer::footer}">
    </footer>
</body>

</html>