@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
body{
    background-color: rgb(5, 67, 7);
}
table{
    border-radius: 5pt;
    width: 100%;
    background-color: white ;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    scale: 1.1;
}
tbody>tr>td:last-child>a:first-child:hover{
    color: rgb(0, 123, 255);
}
tbody>tr>td:last-child>a:last-child:hover{
    color: red;
}
thead>tr>th:first-child>a:hover{
    scale: 1.1;
}
.forminput>input{
    width: 80%;
}
.forminput>label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15%;
    color: white;
}
form{
    width: 50%;
}