@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
*{
    text-align: justify;
}
.indexmain{
    background-image: url("../img/indexLandscape.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.row{
    margin:0;
}
.logo{
    background-image: url(../img/logo.jpg);
    background-position: center;
    background-size: cover;
    height: 40px;
    width: 40px;
}
.encuentro{
    height: 100%;
    background-image: url(../img/bichoEncuentro.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 20px;
    transition: all 0.3s ease;
    border-radius: 5pt;

}
.containers{
    height: 60%;
}
.blocks{
    height: 90%;
}
.especies{
    background-image: url(../img/bichoEspecie.jpg);
}
.registro{
    background-image: url(../img/bichoRegistro.jpg);
}
.tienda{
    background-image: url(../img/bichoTienda.png);
}
.mainblock{
    height: 33%;
    background-position: center;
    background-size: cover;
    padding: 20px;
    transition: all 0.3s ease;
    border-radius: 5pt;

}
.mainblock>a{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
a:hover {
    color: rgb(255, 255, 255);
}
a {
    text-decoration: none;
}
.formulario{
    background-color: rgba(212, 176, 128, 0.842);
    border-radius: 5pt;
    box-shadow: 10px 10px 25px #111311;
}
.fondodifu{
    border-radius: 10pt;
    background-color: rgba(245, 199, 138, 0.842);
    box-shadow: 10px 10px 25px #111311;
}
.mainblock:hover {
    transform: scale(1.1) translate(10px, 10px);
    background-size: 110% ;

}
.encuentro:hover{
    transform: scale(1.1) translate(-10px, -5px);

}
.registroBox>a{
    position: relative;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-radius: 5pt;
    border: rgb(0, 0, 0) 1px solid;
    padding: 0;
    z-index: 2;
}
.row>*{
    padding-left: 0;
    padding-right: 0;
}
.registroBox>a>img{
    border-radius: 5pt;
}
.registroBox>a>div{
    background-color: #2525255e;
    padding: 5px;
    margin: 5px;
    border-radius: 5pt;
}
.background-image {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.text>p {
    display: none;
    font-size: x-large;
}

.text:hover>p {
    display: block;
    animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.hidden {
    display: none;
}
.userimage{
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 60%;
    border-radius: 50pt;
    border: 1px solid white;
    
    
}
.text>h3{
    font-size: 1em;
}
.text>p{
    font-size: 0.5em;
}
.botonTax {
    background-color: #005c1f;
    border: none;
    border-radius: 5px;
    display: inline-block;
    transition: transform 0.2s ease-out;
  }
  .botonTax:hover {
    transform: scale(1.1);
    text-decoration: none;
  }
  .botonTax:hover a{
        color: white;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  .botonLink {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
  
  .botonIcono {
    font-size: 1.2rem;
    margin-right: 0.5rem;
  }
  
  .botonTexto {
    margin-left: 0.5rem;
  }
  
.encuentroBox{
    position: relative;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-radius: 5pt;
    border: rgb(0, 0, 0) 1px solid;
    padding: 0;
}
.encuentroInfo{
    text-align: center;
}
.encuentroInfo>h3{
    font-size: 1.2em;
}
.encuentroInfo>span{
    font-size: 0.75em;
}
.loginbutton>a{
    height: 100%;
    width: 100%;
    color: black;
    text-decoration: none;
}
.loginbutton{
    transition: all 0.3s ease;
}
.loginbutton:hover{
    transform: scale(1.1);
} 
.imagenEspecie{
    border-radius: 25pt;
    width: 100%;  
    border: 2px solid black;
    
}

.taxList{
    height: 80%;
    justify-content: space-evenly;
    list-style: none;
    font-size: 130%;
    font-weight: 700;
}

.detalles{
    font-size: 120%;
    font-weight: 600;
}
.nombreEspecie{
    font-weight: bolder;
}
.profileContainer{
    box-shadow: 10px 10px 25px #111311;
    border-radius: 10pt;
}
.profileContainer1{
    border-top-left-radius: 10pt;
    border-top-right-radius: 10pt;
    background-color: rgba(41, 34, 26, 0.842);
    margin-bottom: 0;
    
}
.profileContainer2{
    margin-top: 0;
    border-bottom-left-radius: 10pt;
    border-bottom-right-radius: 10pt;
    background-color: rgba(41, 34, 26, 0.842);
}
.userData{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    font-size: larger;
}
.fotoPerfilResgistro{
    height: 35px;
    aspect-ratio: 1/1;
    border-radius: 15pt;
    object-fit: cover;
    border-radius: 50pt;
    border: 1px solid white;
    margin-right: 3% ;

}
.taxonomias{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 15pt;

}

.taxonomias>div>div>a,.taxonomias>div>div>span{
    border-radius: 5pt;
    display: block;
    height: 100%;
    width: 100%;
    background-color: #005c1f;
}

.taxonomias>div>div>a:hover,.taxonomias>div>div>span:hover {
    transform: scale(1.1);
    font-size: 120;
    font-weight: 600;
  }
.taxonomias>button{
    background-color: #005c1f;
    border: 0;
    border-radius: 15pt;
}
.taxonomias>button:hover{
    transform: scale(1.1);
    font-size: 120;
    font-weight: 600;
}
.taxonomias>button>a{
    display: block;

}