@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

.indexmain{
    background-image: url("../img/indexLandscape.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.row{
    margin:0;
}
.logo{
    background-image: url(../img/logo.jpg);
    background-position: center;
    background-size: cover;
    height: 40px;
    width: 40px;
}
.encuentro{
    height: 100%;
    background-image: url(../img/bichoEncuentro.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 20px;
    transition: all 0.3s ease;
    border-radius: 5pt;

}
.containers{
    height: 60%;
}
.blocks{
    height: 90%;
}
.especies{
    background-image: url(../img/bichoEspecie.jpg);
}
.registro{
    background-image: url(../img/bichoRegistro.jpg);
}
.tienda{
    background-image: url(../img/bichoTienda.png);
}
.mainblock{
    height: 33%;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 20px;
    transition: all 0.3s ease;
    border-radius: 5pt;

}
.formulario{
    background-color: rgba(222, 184, 135, 0.801);
    border-radius: 5pt;
    box-shadow: 10px 10px 25px #111311;
}
.mainblock:hover {
    transform: scale(1.1) translate(10px, 10px);
    background-size: 110% ;

}
.encuentro:hover{
    transform: scale(1.1) translate(-10px, -5px);
   

}
.registroBox{
    position: relative;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-radius: 5pt;
    border: rgb(0, 0, 0) 1px solid;
    padding: 0;
}
.registroBox>img{
    border-radius: 5pt;
}
.registroBox>div{
    background-color: #2525255e;
    padding: 5px;
    margin: 5px;
    border-radius: 5pt;
}
.background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }