<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link th:href="@{/css/estilos.css}" rel="stylesheet">
        <link rel="stylesheet" href="../../static/css/estilos.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <title>Encuentros</title>
</head>
<body class="indexmain">
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark" th:replace="~{fragmentos/menu::menu}">
        </nav>
    </header>
    <main>
        <script>
            AOS.init();
        </script>
        <div>
            <div class="row">
                <div class="col-2 pt-5 d-flex flex-column justify-content-center d-none d-md-block ">
                    <div class="taxonomias m-3 p-3">
                        <h3 class="text-center mb-3">Buscar por</h3>
                        <div>
                            <div>
                                <span class="row text-center p-2 text-light my-1 d-flex">
                                    <a class="col text-center float-start">Puntuación</a>
                                    <a class="col-1 mx-1 float-end"th:href="@{/encuentros/orderBy/{orderBy}(orderBy='puntuacionAsc')}">
                                        <i class="bi bi-arrow-up"></i>
                                    </a>
                                    <a class="col-1 mx-1 float-end" th:href="@{/encuentros/orderBy/{orderBy}(orderBy='puntuacionDesc')}">
                                        <i class="bi bi-arrow-down"></i>
                                    </a>
                                </span>
                            </div>
                            <div>
                                <span class="row text-center p-2 text-light my-1 d-flex">
                                    <a class="col text-center float-start">Nombre</a>
                                    <a class="col-1 mx-1 float-end"th:href="@{/encuentros/orderBy/{orderBy}(orderBy='especie')}">
                                        <i class="bi bi-arrow-up"></i>
                                    </a>
                                    <a class="col-1 mx-1 float-end" th:href="@{/encuentros/orderBy/{orderBy}(orderBy='especieDesc')}">
                                        <i class="bi bi-arrow-down"></i>
                                    </a>
                                </span>
                            </div>
                            <div>
                                <span class="row text-center col p-2 text-light my-1 d-flex">
                                    <a class="col text-center float-start">N.Científico</a>
                                    <a class="col-1 mx-1 float-end" th:href="@{/encuentros/orderBy/{orderBy}(orderBy='cientifico')}">
                                        <i class="bi bi-arrow-up"></i>
                                    </a>
                                    <a class="col-1 mx-1 float-end" th:href="@{/encuentros/orderBy/{orderBy}(orderBy='cientificoDesc')}">
                                        <i class="bi bi-arrow-down"></i>
                                    </a>
                                </span>
                            </div>
                            <div>
                                <span class="row text-center col p-2 text-light my-1 d-flex">
                                    <a class="col text-center float-start">Usuarios</a>
                                    <a class="col-1 mx-1 float-end" th:href="@{/encuentros/orderBy/{orderBy}(orderBy='usuario')}"><i class="bi bi-arrow-up"></i>
                                    </a>
                                    <a class="col-1 mx-1 float-end" th:href="@{/encuentros/orderBy/{orderBy}(orderBy='usuarioDesc')}"><i class="bi bi-arrow-down"></i>
                                    </a>
                                </span>
                            </div>
                            <div>
                                <span class="row text-center col p-2 text-light my-1 d-flex">
                                    <a class="col text-center float-start">Peso</a>
                                    <a class="col-1 mx-1 float-end" th:href="@{/encuentros/orderBy/{orderBy}(orderBy='peso')}"><i class="bi bi-arrow-up"></i>
                                    </a>
                                    <a class="col-1 mx-1 float-end" th:href="@{/encuentros/orderBy/{orderBy}(orderBy='pesoDesc')}"><i class="bi bi-arrow-down"></i>
                                    </a>
                                </span>
                            </div>
                            <div>
                                <span class="row text-center col p-2 text-light my-1 d-flex">
                                    <a class="col text-center float-start">Tamaño</a>
                                    <a class="col-1 mx-1 float-end" th:href="@{/encuentros/orderBy/{orderBy}(orderBy='tamanio')}"><i class="bi bi-arrow-up"></i>
                                    </a>
                                    <a class="col-1 mx-1 float-end" th:href="@{/encuentros/orderBy/{orderBy}(orderBy='tamanioDesc')}"><i class="bi bi-arrow-down"></i>
                                    </a>
                                </span>
                            </div>
                            <div>
                                <span class="row text-center col p-2 text-light my-1 d-flex">
                                    <a class="col text-center float-start">Zona</a>
                                    <a class="col-1 mx-1 float-end" th:href="@{/encuentros/orderBy/{orderBy}(orderBy='zonba')}"><i class="bi bi-arrow-up"></i>
                                    </a>
                                    <a class="col-1 mx-1 float-end" th:href="@{/encuentros/orderBy/{orderBy}(orderBy='zonaDesc')}"><i class="bi bi-arrow-down"></i>
                                    </a>
                                </span>
                            </div>
                            <div>
                                <span class="row text-center col p-2 text-light my-1 d-flex">
                                    <a class="col text-center float-start">Fecha</a>
                                    <a class="col-1 mx-1 float-end" th:href="@{/encuentros/orderBy/{orderBy}(orderBy='fecha')}"><i class="bi bi-arrow-up"></i>
                                    </a>
                                    <a class="col-1 mx-1 float-end" th:href="@{/encuentros/orderBy/{orderBy}(orderBy='fechaDesc')}"><i class="bi bi-arrow-down"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-9 ">
                    <form action="3" th:action="@{/encuentros/search}" th:object="${searchForm}" method="POST">
                        <div class="d-flex my-3">
                            <input type="text" class="form-control" name="search" id="nombre"
                                placeholder="Nombre de la especie" required>
                            <button class="btn btn-light">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </form>
                    <div class="row d-flex justify-content-center text-light">
                        <div class="encuentroBox col-6 col-md-6 col-lg-5 col-xl-3 col-xxl-2 m-2"
                            th:each="encuentro ,iter : ${encuentroList}" data-aos="flip-down" data-aos-duration="1000">
                            <a th:href="@{/encuentros/details/{id}(id=${encuentro.id})}">
                                <img class="background-image" th:src="${encuentro.foto}"  src="../../static/img/fotoEspecie.png" />
                                <div class="encuentroinfo2 m-1 ">
                                    <img th:src="${encuentro.usuario.fotoPerfil}" >
                                    <span th:text="${encuentro.usuario.username}">nombre</span>
                                    <i class="bi bi-star-fill float-end me-3  " th:text="${valoracionList[iter.index]}">
                                        0.00                                                              
                                    </i>
                                </div>
                                <div class="encuentroInfo">
                                    <h3 th:text="${encuentro.especie.descripcion}" class="text-center"></h3>      

                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-2 pt-5 d-flex flex-column justify-content-center d-none d-md-block ">
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="~{fragmentos/footer::footer}">
    </footer>
</body>

</html>