<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/adminGestion.css}" href="/css/loginRegister.css">
    <link rel="stylesheet" href="../../static/css/adminGestion.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>clases</title>
</head>

<body>
    <header>
        <nav th:replace="~{fragmentos/menu::menu}">
        </nav>
    </header>
    <main class="d-flex flex-column align-items-center">
        <h2 class="text-light">Clases</h2>
        <div class="row">

            <div class="col-2">
                
            </div>
            <div class="col">
                <table class="table container mx-5">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center ">
                                <a href="#" th:href="@{/clases/newClase}">
                                    <i class="bi bi-plus-square"></i>
                                </a>
                            </th>
                            <th scope="col"><a th:href="@{/clases/gestClases}">Id</a></th>
                            <th scope="col"><a th:href="@{/clases/gestClases/sortedName}">Nombre</a></th>
                            <th scope="col"><a th:href="@{/clases/gestClases/sortedComun}">N.Común</a></th>
                            <th scope="col"><a th:href="@{/clases/gestClases/sortedFil}">N. Filo</a></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="clases:${clases}">
                            <td></td>
                            <td th:text="${clases.id}" scope="row">Id</td>
                            <td th:text="${clases.nombre}">Nombre</td>
                            <td th:text="${clases.descripcion}">N.Común</td>
                            <td th:text="${clases.filo.nombre}">Filo</td>
                            <td class="pe-2">
                            <a class="me-2" href="#" th:href="@{/clases/editarClase/{id}(id=${clases.id})}">
                                <i class="bi bi-pencil-square "></i>
                            </a>
                            <a href="#" th:href="@{/clases/borrar/{id}(id=${clases.id})}">
                                <i class="bi bi-trash3-fill"></i>
                            </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-2">

            </div>

        </div>

    </main>
</body>

</html>