<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/adminGestion.css}" href="/css/loginRegister.css">
    <link rel="stylesheet" href="../../static/css/adminGestion.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script th:href="@{/js/script.js}" src="/js/script.js"></script>
    <title>Especies</title>
</head>

<body>
    <header>
        <nav th:replace="~{fragmentos/menu::menu}">
        </nav>
    </header>
    <main class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h2 class="text-light text-center">Especies</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="row d-flex justify-content-center">
                    <div class="col-1  d-none d-xl-block"></div>
                    <div class="col-10 d-flex justify-content-center">
                        <form action="3" th:action="@{/especies/admin/search}" th:object="${searchForm}" method="POST">
                            <div class="d-flex my-3">
                                <input type="text" class="form-control" name="search" id="nombre"
                                    placeholder="Nombre de la especie" required>
                                <button class="btn btn-light">
                                    <i class="bi bi-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="col-1  d-none d-xl-block"></div>
                </div>
                <table class="table ">
                    <thead class="container-fluid">
                        <tr class="row container-fluid">
                            <th scope="col-1" class="text-center col-1 ">
                                <a href="#" th:href="@{/especies/newEspecie}">
                                    <i class="bi bi-plus-square"></i>
                                </a>
                            </th>
                            <th class="col-1"><a>Id</a>
                                <a th:href="@{/especies/admin/gestEspecies/{orderBy}(orderBy='id')}">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                                <a th:href="@{/especies/admin/gestEspecies/{orderBy}(orderBy='idDesc')}">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </th>
                            <th class="col-2"><a>Nombre</a>
                                <a th:href="@{/especies/admin/gestEspecies/{orderBy}(orderBy='nombre')}">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                                <a th:href="@{/especies/admin/gestEspecies/{orderBy}(orderBy='nombreDesc')}">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </th>
                            <th class="col-2"><a>N.Común</a>
                                <a th:href="@{/especies/admin/gestEspecies/{orderBy}(orderBy='descripcion')}">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                                <a th:href="@{/especies/admin/gestEspecies/{orderBy}(orderBy='descripcionDesc')}">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </th>
                            <th class="col-3">Descripción</th>
                            <th class="col-2"><a>N.Genero</a>
                                <a th:href="@{/especies/admin/gestEspecies/{orderBy}(orderBy='genero')}">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                                <a th:href="@{/especies/admin/gestEspecies/{orderBy}(orderBy='generoDesc')}">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </th>
                            <th class="col-1"></th>
                        </tr>
                    </thead>
                    <tbody class="container-fluid">
                        <tr th:each="especie:${especies}" class="row container-fluid">
                            <td class="col-1 d-flex justify-content-center "><img th:src="${especie.foto}"
                                    alt="foto de la especie" /></td>
                            <td class="col-1" th:text="${especie.id}" scope="row">Id</td>
                            <td class="col-2" th:text="${especie.nombre}">Nombre</td>
                            <td class="col-2" th:text="${especie.descripcion}">N.Común</td>
                            <td class="col-3">
                                <p th:text="${especie.detalles}" class="texto-completo" style="display:none"></p>
                                <a th:text="${#strings.length(especie.detalles) gt 50} ? ${especie.detalles.substring(0, 50)}+'...' : ${especie.detalles}"
                                    class="texto-corto"></a>
                                <a href="#" class="leer-mas" onclick="mostrarTextoCompleto(this)"> leer más</a>
                            </td>
                            <!--He tenido que usar forzadamente el onclick puesto a que son elementos dinámicos no he podido darle un id único por lo que si uso js 
                            capturando el id siempre al hacer la función va a coger el primer elemento-->
                            <td class="col-2" th:text="${especie.genero.nombre}">Genero</td>
                            <td class="col pe-4">
                                <a class="me-2" href="#"
                                    th:href="@{/especies/admin/editarEspecie/{id}(id=${especie.id})}">
                                    <i class="bi bi-pencil-square "></i>
                                </a>
                                <a href="#" th:href="@{/especies/admin/borrar/{id}(id=${especie.id})}">
                                    <i class="bi bi-trash3-fill"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</body>

</html>