<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/adminGestion.css}" href="/css/loginRegister.css">
    <link rel="stylesheet" href="../../static/css/adminGestion.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>familias</title>
</head>

<body>
    <header>
        <nav th:replace="~{fragmentos/menu::menu}">
        </nav>
    </header>
    <main class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center text-light">Familias</h2>
                <table class="table container">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center ">
                                <a href="#" th:href="@{/familias/newFamilia}">
                                    <i class="bi bi-plus-square"></i>
                                </a>
                            </th>
                            <th class="col-1"><a th:href="@{/familias/admin/gestFamilias/{orderBy}(orderBy='id')}">Id</a></th>
                          <th class="col"><a th:href="@{/familias/admin/gestFamilias/{orderBy}(orderBy='nombre')}">Nombre</a></th>
                          <th class="col"><a th:href="@{/familias/admin/gestFamilias/{orderBy}(orderBy='descripcion')}">N.Común</a></th>
                          <th class="col-1"><a th:href="@{/familias/admin/gestFamilias/{orderBy}(orderBy='orden.nombre')}">N. Orden</a></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="familias:${familias}">
                            <td class="text-wrap d-flex justify-content-center">
                                <img th:if="${familias.generos != null and familias.generos.size() > 0 and familias.generos[0].especies != null and familias.generos[0].especies.size() > 0}" 
                            th:src="${familias.generos[0].especies[0].foto}" 
                                style="width:32px; height: 32px; object-fit: cover; border-radius: 10pt;" /></td>    
                            <td th:text="${familias.id}" scope="row">Id</td>
                            <td th:text="${familias.nombre}">Nombre</td>
                            <td th:text="${familias.descripcion}">N.Común</td>
                            <td th:text="${familias.orden.nombre}">Orden</td>
                            <td class="pe-2">
                                <a class="me-2" href="#" th:href="@{/familias/admin/editarFamilia/{id}(id=${familias.id})}">
                                    <i class="bi bi-pencil-square "></i>
                                </a>
                                <a href="#" th:href="@{/familias/admin/borrar/{id}(id=${familias.id})}">
                                    <i class="bi bi-trash3-fill"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</body>

</html>