<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/adminGestion.css}" href="/css/loginRegister.css">
    <link rel="stylesheet" href="../../static/css/adminGestion.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>filos</title>
</head>

<body>
    <header>
        <nav th:replace="~{fragmentos/menu::menu}">
        </nav>
    </header>
    <main class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h2 class="text-light text-center">Filos</h2>
                <div class="row d-flex justify-content-center">
                    <div class="col-1  d-none d-xl-block"></div>
                    <div class="col-10 d-flex justify-content-center">
                        <form action="3" th:action="@{/filos/admin/search}" th:object="${searchForm}" method="POST">
                            <div class="d-flex my-3">
                                <input type="text" class="form-control" name="search" id="nombre"
                                    placeholder="Nombre del filo" required>
                                <button class="btn btn-light">
                                    <i class="bi bi-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="col-1  d-none d-xl-block"></div>
                </div>
                <table class="table container ">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">
                                <a href="#" th:href="@{/filos/newFilo}">
                                    <i class="bi bi-plus-square"></i>
                                </a>
                            </th>
                            <th class="col-1"><a >Id</a> 
                            <a  th:href="@{/filos/admin/gestFilos/{orderBy}(orderBy='id')}"><i class="bi bi-arrow-up"></i></a>
                            <a  th:href="@{/filos/admin/gestFilos/{orderBy}(orderBy='idDesc')}"><i class="bi bi-arrow-down"></i></a>
                            </th>
                            <th class="col"><a >Nombre</a> 
                            <a  th:href="@{/filos/admin/gestFilos/{orderBy}(orderBy='nombre')}"><i class="bi bi-arrow-up"></i></a>
                            <a  th:href="@{/filos/admin/gestFilos/{orderBy}(orderBy='nombreDesc')}"><i class="bi bi-arrow-down"></i></a>
                            </th>
                            <th class="col"><a >N.Común</a> 
                            <a  th:href="@{/filos/admin/gestFilos/{orderBy}(orderBy='descripcion')}"><i class="bi bi-arrow-up"></i></a>
                            <a  th:href="@{/filos/admin/gestFilos/{orderBy}(orderBy='descripcionDesc')}"><i class="bi bi-arrow-down"></i></a>
                            </th>
                            <th class="col-2"><a >N. Genero</a> 
                            <a  th:href="@{/filos/admin/gestFilos/{orderBy}(orderBy='reino')}"><i class="bi bi-arrow-up"></i></a>
                            <a  th:href="@{/filos/admin/gestFilos/{orderBy}(orderBy='reinoDesc')}"><i class="bi bi-arrow-down"></i></a>
                            </th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="filos:${filos}">
                            <td class="text-wrap d-flex justify-content-center">
                                <img                              th:if="${filos.clases != null and filos.clases.size() > 0 and filos.clases[0].ordenes 
                                    != null and filos.clases[0].ordenes.size() > 0 and filos.clases[0].ordenes[0].familias 
                                    != null and filos.clases[0].ordenes[0].familias.size() > 0 and filos.clases[0].ordenes[0].familias[0].generos 
                                    != null and filos.clases[0].ordenes[0].familias[0].generos.size() > 0 and filos.clases[0].ordenes[0].familias[0].generos[0].especies 
                                    != null and filos.clases[0].ordenes[0].familias[0].generos[0].especies.size() > 0}" 
                                th:src="${filos.clases[0].ordenes[0].familias[0].generos[0].especies[0].foto}" 
                                style="width:32px; height: 32px; object-fit: cover; border-radius: 10pt;" /></td>
                            <td th:text="${filos.id}" scope="row">Id</td>
                            <td th:text="${filos.nombre}">Nombre</td>
                            <td th:text="${filos.descripcion}">N.Común</td>
                            <td th:text="${filos.reino.nombre}">Reino</td>
                            <td class="pe-2">
                            <a class="me-2" href="#" th:href="@{/filos/admin/editarFilo/{id}(id=${filos.id})}">
                                <i class="bi bi-pencil-square "></i>
                            </a>
                            <a href="#" th:href="@{/filos/admin/borrar/{id}(id=${filos.id})}">
                                <i class="bi bi-trash3-fill"></i>
                            </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</body>

</html>