<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link th:href="@{/css/estilos.css}" rel="stylesheet">
        <link rel="stylesheet" href="../../static/css/estilos.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>Registrar-Clase</title>
</head>

<body class="indexmain">
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark" th:replace="~{fragmentos/menu::menu}">
        </nav>
    </header>
    <main>
        <div class=" row ">
            <div class="col">
            </div>
            <div class="col-7 formulario my-5 py-5 px-4">
                <form class="was-validated px-5" method="POST" th:action="@{/clases/newClase/submit}" th:object="${clase}">
                    <div class="row">
                        <input th:if="${clase.id != 0}" type="hidden" name="id" th:field="*{id}" />
                        <div class="form-group">
                            <label for="nombre">Nombre Cientifico</label>
                            <input type="text" class="form-control is-valid" id="nombre"
                                placeholder="Nombre científico de la clase" required th:field="*{nombre}">
                            <div class="invalid-feedback">Escribe el Nombre Cientifico de la clase</div>
                        </div>
                        <div class="form-group">
                            <label for="descripcion">Nombre común</label>
                            <input type="text" class="form-control is-valid" id="descripcion"
                                placeholder="Nombre común de la clase" required th:field="*{descripcion}">
                            <div class="invalid-feedback">Escribe el Nombre común de la clase</div>
                        </div>
                        <div class="form-group">
                            <label for="filo">Filo</label> <select 
                            th:field="*{filo}" class="form-control">
                                <option value="-1">---</option>
                                <option th:each="filo : ${filos}" 
                                    th:value="${filo.id}" th:text="${filo.nombre}">Filo</option>
                            </select>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-2">
                        <button class="btn btn-primary enviar" type="submit ">Enviar</button>
                    </div>
                </form>
            </div>
            <div class="col">
                <div class="taxonomias m-3 p-3 mt-5">
                    <h3 class="text-center mb-3">No está?!</h3>
                    <button>
                        <a class="py-1 px-3 botonLink text-center" th:href="@{/filos/newFilo}" href="/newFilo">
                            <span class="botonTexto">Nuevo Filo</span>
                            <i class="ms-2 bi bi-plus-circle botonIcono"></i>
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="~{fragmentos/footer::footer}">
    </footer>
</body>

</html>